
.right {
  float: right;
}

.thumbs-buttons {
  margin: 0 auto;
}

.thumbs-box {
  border-right: 1px solid #c7c7c7;
}

.feed-day-divisor { 
  margin: 0;
}

.post-box {
  background-color: #f9f9f9;
  padding: 12px;
  text-align: justify;
}

.post-box p {
  margin-top: 0;
}

.attach-icon svg {
  width: 32px;
}

.post-footer {
  font-size: 0.9em;
  padding-top: 12px;
}